xml_schemas/op_3_1.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="actors">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="first_name" type="xs:string" />
            <xs:element name="last_name" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>