xml_schemas/op_3_2.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="films">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="title" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="release_year" type="xs:positiveInteger" />
            <xs:element name="length" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>