xml_schemas/op_5.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="rentals">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="rental_id" type="xs:positiveInteger" />
            <xs:element name="rental_date" type="xs:date" />
            <xs:element name="store_address" type="xs:string" />
            <xs:element name="film_title" type="xs:string" />
            <xs:element name="customer_name" type="xs:string" />
            <xs:element name="customer_email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>