etap 3/xml_schemas/op_2.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="actors">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="actor_id" type="xs:positiveInteger" />
            <xs:element name="actor_name" type="xs:string" />
            <xs:element name="actor_email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>